<form action='/patients/add' method=POST>
    <body style ="background-color:papayawhip">
      <li>
          <form>
            <label>Enter the pstient's first name.</label>
            <input name="firstName"/>
          </form>
        </li>
        <li>
          <form>
            <label>Enter the patient's last name.</label>
            <input name="lastName"/>
          </form>
        </li>
        <li>
          <form>
            <label>Enter the patient's date of birth.</label>
            <input name="DoB"/>
          </form>
        </li>
        <li>
          <form>
            <label>Enter the patient's email address.</label>
            <input name="email"/>
          </form>
        </li>
        <input type=submit value="Add Patient"/>
      </body>
      </form>
      