<form action='/doctors/add' method=POST>
  <body style ="background-color:papayawhip">
    <li>
        <form>
          <label>Enter the doctor's first name.</label>
          <input name="firstName"/>
        </form>
      </li>
      <li>
        <form>
          <label>Enter the doctor's last name.</label>
          <input name="lastName"/>
        </form>
      </li>
      <li>
        <form>
          <label>Enter the ID number fo the department the doctor works in.</label>
          <input name="departmentID"/>
        </form>
      </li>
      <li>
        <form>
          <label>Enter year they became a doctor.</label>
          <input name="practiceSince"/>
        </form>
      </li>
      <li>
        <form>
          <label>Enter the ID number for the hospital the doctor works in.</label>
          <input name="hospitalID"/>
        </form>
      </li>
      <input type=submit value="Add Doctor"/>
    </body>
    </form>
    