<form action='/hospital/add' method=POST>
<li>
    <form>
      <label>Enter the name of the hospital.</label>
      <input name="hospitalName"/>
    </form>
  </li>
  <li>
    <form>
      <label>Enter the hospital location.</label>
    </form>
  </li>
  <li>
    <form>
      <label>City</label>
      <input name="city"/>
    </form>
  </li>
  <li>
    <form>
      <label>State</label>
      <input name="state"/>
    </form>
  </li>
  <li>
    <form>
      <label>Country</label>
      <input name="country"/>
    </form>
  </li>
  <input type=submit value="Add Hospital"/>
</form>
