<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body style ="background-color:papayawhip">
    <h1>Google Hospital Mangement System</h1>
    <ol>
      <li><a href="/hospital/add">Add a Hospital</a></li>
      <li><a href="/departments/add">Add a Department</a></li>
      <li><a href="/voyages/add">add a voyage</a></li>
    </ol>
    <h1>All available resources</h1>
    <ol>
      <li><a href="/hospitals">Hospitals</a></li>
      <li><a href="/departments">Departments</a></li>
      <li><a href="/voyages">voyages</a></li>
      <li>
        <form action="/sailors/who-sailed" method=POST>
          <label>boat name</label>
          <input name="boat-name"/>
          <input type=submit value="sailors who sailed boat"/>
        </form>
      </li>
      <li>
        <form action="/boats/sailed-by" method=POST>
          <label>sailor name</label>
          <input name="sailor-name"/>
          <input type=submit value="boats sailed by"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-date" method=POST>
          <label>date</label>
          <input name="date"/>
          <input type=submit value="sailors who sailed on date"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-boat-of-color" method=POST>
          <label>color</label>
          <input name="color"/>
          <input type=submit value="sailors who sailed on boat of color"/>
        </form>
      </li>
      <li><a href="/boats/by-popularity">boats by popularity</a></li>
    </ol>
  </body>
</html>
