<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body style ="background-color:papayawhip">
    <h1>Google Hospital Mangement System</h1>
    <ol>
      <li><a href="/hospital/add">Add a Hospital</a></li>
      <li><a href="/departments/add">Add a Department</a></li>
      <li><a href="/doctors/add">Add a Doctor</a></li>
      <li><a href="/appointments/add">Add a Appointment</a></li>
      <li><a href="/patients/add">Add a patient</a></li>

    </ol>
    <h1>All available resources</h1>
    <ol>
      <li><a href="/hospitals">Hospitals</a></li>
      <li><a href="/departments">Departments</a></li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/patients">Existing Patients</a></li>

      <li>
        <form action="/hospitals/what-state" method=POST>
          <label>State Initals</label>
          <input name="state_"/>
          <input type=submit value="Find Hospitals in State"/>
        </form>
      </li>
      <li>
        <form action="/appointments" method=POST>
          <label>Find Appointments</label>
          <input name="first_"/>
          <input name="last_"/>
          <input type=submit value="Find an appointment by doctor"/>
        </form>
      </li>
    </ol>
  </body>
</html>
